
html,body {
	margin: 0; 
	padding: 0;
}
#contentWrapper{
	width: 500px;
    margin: auto;
    background: #fff;
    height: 157px;
	text-align: center;
}
h1{
	padding-top: 30px;
	font-family: Georgia,Times,"Times New Roman",serif;
}
h4{
	font-family: Georgia,Times,"Times New Roman",serif
}
p{
	font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
}
#hello{
	padding-top: 30px;
	width: 300px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#redBar {
	height: 100px;
	background:#f64747;
	color:#fff;
	font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	font-size: 1.6em;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
}
#aboutMe{
	font-size: 1.4em;
	text-align: center;
	vertical-align: middle;
	font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
	
}
#description{
	width: 500px;
	margin: 0 auto;
}
#previousJobs{
	width:500px;
	margin:0 auto;
}
#jobs-column1{
	float:left;
	margin:0; 
	padding-right: 10px;
	width:100px%;
}
#jobs-column2{
	float:left;
	margin:0; 
	padding-right: 10px;
	width:100%;
}
#jobs-column3{
	float:left;
	margin:0; 
	padding-right: 10px;
	width:100%;
}
#volunteer{
	margin:0px auto; 
	width:500px;
}
#vol-column1{
	float:left;
	margin:0; 
	padding-right: 10px;
	width:50%;
}
#vol-column2{
	float: left;
	margin: 0;
	width: 50%;
}
#icons{
	text-align: center;
}
.fa{
	color:#f64747;
	padding-right: 14px;
}
.btnweather{
  position: absolute;
  margin-top: 20px;
  margin-right: 200px;
  margin-left: 10px;
  margin-bottom: 10px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btnbreathe{
  position: absolute;
  margin-top: 80px;
  margin-right: 200px;
  margin-left: 10px;
  margin-bottom: 10px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
a{
	color: inherit;
	text-decoration: none !important;
}
.btnweather:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.btnbreathe:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}