
html,body {
	margin: 0; 
	padding: 0;
}
#contentWrapper{
	width: 500px;
    margin: auto;
    background: #fff;
    height: 157px;
	text-align: center;
}
h1{
	padding-top: 30px;
	font-family: Georgia,Times,"Times New Roman",serif;
}
h4{
	font-family: Georgia,Times,"Times New Roman",serif
}
p{
	font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
}
#redBar {
	height: 100px;
	background:#f64747;
	color:#fff;
	font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	font-size: 1.6em;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
}
#aboutMe{
	font-size: 1.4em;
	text-align: center;
	vertical-align: middle;
	font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}
#description{
	width: 500px;
	margin: 0 auto;
}
#previousJobs{
	width:500px;
	margin:0 auto;
}
#jobs-column1{
	float:left;
	margin:0; 
	padding-right: 10px;
	width:100px%;
}
#jobs-column2{
	float:left;
	margin:0; 
	padding-right: 10px;
	width:100%;
}
#jobs-column3{
	float:left;
	margin:0; 
	padding-right: 10px;
	width:100%;
}
#volunteer{
	margin:0px auto; 
	width:500px;
}
#vol-column1{
	float:left;
	margin:0; 
	padding-right: 10px;
	width:50%;
}
#vol-column2{
	float: left;
	margin: 0;
	width: 50%;
}
#icons{
	text-align: center;
}
.fa{
	color:#f64747;
	padding-right: 14px;
}
