@import url(http://fonts.googleapis.com/css?family=Fauna+One);

body {
   font: 20px 'Fauna One';
   color: red;
}

div#header-title{
   display: inline-block;
   float: left;
   padding: 100px 100px 100px 100px;
}
nav {
   display: inline-block;
   float:right;
  /* padding: 100px 100px 100px 100px;*/
}
nav ul{
   padding: 0;
   margin: 0;
}
nav li{
   display: inline-block; /*links on the same line*/
}
nav a:link{

}
nav a:visited{
   color: purple; /* person has visited this page*/
   text-decoration: none; /* no underline on link*/
}
nav a:hover{
   
}

